/* ------------------------------------------------
---------------------------------------------------
   GENERAL
---------------------------------------------------
------------------------------------------------ */
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
body{
  font-family: $font-stack;
  font-size: $font-size;
  color: $text-color;
  overflow-x: hidden;
  padding-top: 114px;
  background-color: $body-bg;
}

html,body{
  height: 100%;
}
*, *:before, *:after {box-sizing:  border-box !important;}
*:focus{
  outline: 0 !important;
}
a{
  color: $link-color;
  cursor: pointer;
}
a:hover, a:focus{
  color: darken($link-color, 10%);
  text-decoration: none;
}
.block{
  display: block;
}
.clear{
  display: block;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 100;
}
h1{ font-size: 30px; }
h2{ font-size: 24px; }
h3{ font-size: 16px; }
h4{ font-size: 14px; }
h5{ font-size: 12px; }
h6{ font-size: 10px; }

h3, h4, h5{
  margin: 5px 0 10px;
  font-weight: 600;
}

.btn-primary.btn-outline {
  color: $primary-color;
  border: 1px solid $primary-color;
}
.btn-primary.btn-outline:hover {
  background: rgba($primary-color, .05);
}
.btn-success.btn-outline {
  color: $success-color;
  border: 1px solid $success-color;
}
.btn-success.btn-outline:hover {
  background: rgba($success-color, .05);
}
.btn-info.btn-outline {
  color: $info-color;
  border: 1px solid $info-color;
}
.btn-info.btn-outline:hover {
  background: rgba($info-color, .05);
}
.btn-warning.btn-outline {
  color: $warning-color;
  border: 1px solid $warning-color;
}
.btn-warning.btn-outline:hover {
  background: rgba($warning-color, .05);
}
.btn-danger.btn-outline {
  color: $danger-color;
  border: 1px solid $danger-color;
}
.btn-danger.btn-outline:hover {
  background: rgba($danger-color, .05);
}
.btn-muted.btn-outline {
  color: $muted-color;
  border: 1px solid $muted-color;
}
.btn-muted.btn-outline:hover {
  background: rgba($muted-color, .05);
}
.btn-outline {
  background: transparent;
  transition: all .35s;
}

p.lead{
  font-size: 125%;
}

.text-muted{
  color: $muted-color;
}

ul.unstyled,
ol.unstyled{
  list-style: none outside none;
  margin-left: 0;
}

hr{
  border-bottom: 2px solid $border-color;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

mark{
  padding: 0;
  background-color: rgba(lighten($info-color, 10%), .75);
}

.text-bold{
  font-weight: 700;
}
.text-normal{
  font-weight: 400;
}
.text-uppercase{
  text-transform: uppercase;
}

.text-primary{
  color: $primary-color;
}
.text-info{
  color: $info-color;
}
.text-success{
  color: $success-color;
}
.text-warning{
  color: $warning-color;
}
.text-danger{
  color: $danger-color;
}
.text-link{
  color: $link-color;
}

@media(max-width:767px){
  .text-left-xs{ text-align: left !important; }
  .text-center-xs{ text-align: center !important; }
  .text-right-xs{ text-align: right !important; }
}
@media(max-width:991px){
  .text-left-sm{ text-align: left !important; }
  .text-center-sm{ text-align: center !important; }
  .text-right-sm{ text-align: right !important; }
}
@media(max-width:1199px){
  .text-left-md{ text-align: left !important; }
  .text-center-md{ text-align: center !important; }
  .text-right-md{ text-align: right !important; }
}
@media(min-width:1200px){
  .text-left-lg{ text-align: left !important; }
  .text-center-lg{ text-align: center !important; }
  .text-right-lg{ text-align: right !important; }
}

.ellipsis-overflow{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bg-grey{
  background-color: darken($body-bg, 10%);
}
.bg-dark-grey{
  background-color: darken($body-bg, 30%);
}
.bg-green{
  background-color: $success-color;
}

.content-wrapper{
  padding: 20px 30px;
}

.fullwidth{
  margin: 0 -15px;
  padding: 20px 45px;
}


.square-bullets{
  list-style: none;
  margin: 4px 0 20px -20px;

  li{
    position: relative;
    padding: 4px 0 0;

    &:before{
      display: block;
      content: '';
      position: absolute;
      top: 7px;
      left: -16px;
      width: 8px;
      height: 8px;
      background: lighten($muted-color, 20%);
    }
  }
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.hero {
  position: relative;
  margin: -136px -15px 0;
  min-height: 600px;
  border-bottom: 10px solid $link-color;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;

  .hero-title{
    width: 50%;
    color: #000000;
    font-weight: 900;
    padding: 140px 0 0 40px;
    overflow: hidden;

    &.overlay{
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      color: #FFFFFF;
      font-weight: 400;
      padding: 40px 50% 40px 40px;
      background-color: rgba(0,0,0,.6);
    }
  }
}

@media (max-width: 767px) {
  .hero{
    min-height: 400px;
    .hero-title{
      width: 80%;
      font-size: 22px;

      &.overlay{
        padding-right: 40px;
      }
    }
  }
}

@media (min-width: 1100px) {
  .hero{
    .hero-title{
      width: 30%;

      &.overlay{
        width: 100%;
        padding-right: 40%;
      }
    }
  }
}

.ribbon-burst-12 {
  background: red;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: red;
  }
  &:before {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
  }
  &:after {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
  }
}

.ribbon-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 12px 0;
  background: $success-color;
  border-radius: 50%;

  span{
    color: #FFFFFF;
    font-size: 20px;
    display: inline-block;

    &:before {
      display: inline-block;
      content: '$';
      font-size: 11px;
      vertical-align: middle;
      margin-left: -3px;
    }
  }
}

.price-buttons{
  margin-top: 20px;

  .btn{
    padding-left: 2px;
    padding-right: 2px;
  }

  .btn + small{
    display: block;
    margin-top: 6px;
  }
}

.content-about {
  h1 {
    font-weight: 400;
    color: $link-color;
  }
  p {
    line-height: 26pt;
  }
}
